<!-- NOTES FOR POSTERITY -->
<!-- My goodness, it was not intuitive to implement asynchronous error validation.
     The error message would only appear on blur, unlike synchronous errors, for 
     which the error message appears on input. Apparently there is a way to address
     this using the ChangeDetectorRef object (see: Angular Forms Validation: Part III - Async Validators gotchas, by Michael Musatov, accessed May 9 2024 - https://dev.to/musatov/angular-forms-validation-part-iii-async-validators-gotchas-5c0o).
     
     Ultimately, I decided simply to display the error message on blur. I was also forced to update my 'new user' registration service on blur, to avoid sending invalid data to the service before the error had been registered -->

<h1 class="text-white display-6 text-center mt-5">Enter your email and a password</h1>
<h5 class="text-white-50 text-center my-4">This allows you to log in on any device</h5>
<input [(ngModel)]="model.email" class="form-control my-3" type="email" placeholder="email" #emailInput="ngModel" required minlength="1" maxlength="50" email appEmailNotAvailable (blur)="OnChange()">
<div class="text-white" [hidden]="emailInput.pristine || emailInput.valid">
    <div *ngIf="emailInput.hasError('required')">
        email required
    </div>
    <div *ngIf="emailInput.hasError('email')">
        invalid email
    </div>
    <div *ngIf="emailInput.hasError('available')">
        the email address <b>{{model.email}}</b> has already been registered
    </div>
</div>
<input [(ngModel)]="model.password" class="form-control my-3" type="password" placeholder="password" #passwordInput="ngModel" required minlength="8" maxlength="50" (input)="OnChange()">
<div class="text-white" [hidden]="passwordInput.pristine || passwordInput.valid">
    You must enter a password containing at least 8 characters
</div>