<h1 class="text-white display-6 text-center mt-5">Enter your email and a password</h1>
<h5 class="text-white-50 text-center my-4">This allows you to log in on any device</h5>
<input [(ngModel)]="model.email" class="form-control my-3" type="email" placeholder="" #emailInput="ngModel" required minlength="1" maxlength="50" email appEmailNotAvailable (input)="OnChange()">
<div class="text-white" [hidden]="emailInput.pristine || emailInput.valid ">
    <div *ngIf="emailInput.errors?.['emailNotAvailable'];else other_content">
        This email address has already been taken
    </div>
    <ng-template #other_content>
        You must enter a valid email address
    </ng-template>
</div>
<input [(ngModel)]="model.password" class="form-control my-3" type="password" placeholder="" #passwordInput="ngModel" required minlength="8" maxlength="50" (input)="OnChange()">
<div class="text-white" [hidden]="passwordInput.pristine || passwordInput.valid">
    You must enter a password containing at least 8 characters
</div>


