<h1 class="text-white display-6 text-center mt-5">What is your chess skill level?</h1>
<h5 class="text-white-50 text-center my-4">A starting point for match pairings</h5>
<app-skill-level-button [Title]="'New to Chess'" [Subtitle]="'Most Common'" [IconClassValue]="'fa-chess'" [TargetValue]="0"></app-skill-level-button>
<app-skill-level-button [Title]="'Beginner'" [IconClassValue]="'fa-chess'" [TargetValue]="1"></app-skill-level-button>
<app-skill-level-button [Title]="'Intermediate'" [IconClassValue]="'fa-chess'"  [TargetValue]="2"></app-skill-level-button>
<app-skill-level-button [Title]="'Advanced'" [IconClassValue]="'fa-chess'"  [TargetValue]="3"></app-skill-level-button>
