<h1 class="text-white">What is your chess skill level?</h1>
<h3 class="text-white">A starting point for match pairings</h3>
<app-skill-level-button [Title]="'New to Chess'" [Subtitle]="'Most Common'" [IconClassValue]="'fa-chess'" [TargetValue]="0"></app-skill-level-button>
<app-skill-level-button [Title]="'Beginner'" [IconClassValue]="'fa-chess'" [TargetValue]="1"></app-skill-level-button>
<app-skill-level-button [Title]="'Intermediate'" [IconClassValue]="'fa-chess'"  [TargetValue]="2"></app-skill-level-button>
<app-skill-level-button [Title]="'Advanced'" [IconClassValue]="'fa-chess'"  [TargetValue]="3"></app-skill-level-button>
