<h1>What is your chess skill level?</h1>
<h3>A starting point for match pairings</h3>
<app-skill-level-button (skillLevelSelect)="UpdateSkillLevel($event)" [currentSkillLevel]="SkillLevel" [Title]="'New to Chess'" [Subtitle]="'Most Common'" [IconClassValue]="'fa-chess'" [TargetValue]="0"></app-skill-level-button>
<app-skill-level-button (skillLevelSelect)="UpdateSkillLevel($event)" [currentSkillLevel]="SkillLevel" [Title]="'Beginner'" [IconClassValue]="'fa-chess'" [TargetValue]="1"></app-skill-level-button>
<app-skill-level-button (skillLevelSelect)="UpdateSkillLevel($event)" [currentSkillLevel]="SkillLevel" [Title]="'Intermediate'" [IconClassValue]="'fa-chess'"  [TargetValue]="2"></app-skill-level-button>
<app-skill-level-button (skillLevelSelect)="UpdateSkillLevel($event)" [currentSkillLevel]="SkillLevel" [Title]="'Advanced'" [IconClassValue]="'fa-chess'"  [TargetValue]="3"></app-skill-level-button>
<button type="button" class="btn btn-primary" (click)="OnSubmit()">Continue</button>


<!-- (skillLevelSelect)="UpdateSkillLevel($event)" -->