<h1 class="text-white">Choose your chessboard theme</h1>
<h3 class="text-white">You can change this later in settings</h3>
<app-theme-button 
    [TargetBackgroundImageSource]="''" 
    [TargetImageSource]="''"
    [TargetValue]="0"
    [TargetLabel]="'Standard'"></app-theme-button>
<app-theme-button 
    [TargetBackgroundImageSource]="''" 
    [TargetImageSource]="''"
    [TargetValue]="1"
    [TargetLabel]="'Game Room'"></app-theme-button>
<app-theme-button 
    [TargetBackgroundImageSource]="''" 
    [TargetImageSource]="''"
    [TargetValue]="2"
    [TargetLabel]="'Wood'"></app-theme-button>
<app-theme-button 
    [TargetBackgroundImageSource]="''" 
    [TargetImageSource]="''"
    [TargetValue]="3"
    [TargetLabel]="'Glass'"></app-theme-button>