<h1 class="text-white display-6 text-center mt-5">Choose a username</h1>
<h5 class="text-white-50 text-center my-4">This is what your friends and other players will see when you play</h5>
<div>
    <input [(ngModel)]="username" class="form-control my-3" type="text" placeholder="Username" #usernameInput="ngModel" required minlength="1" maxlength="50" appUsernameNotAvailable (blur)="OnFormEntry()">
</div>
<div class="text-white" [hidden]="usernameInput.pristine || usernameInput.valid ">
    <div *ngIf="usernameInput.hasError('required')">
        A username is required
    </div>
    <div *ngIf="usernameInput.hasError('available')">
        The username 
    </div>
</div>
<div>
    <input class="m-3" type="checkbox" id="specialOffers">
    <label class="text-white" for="specialOffers">Keep me updated with gameplay tips and special offers.</label>
</div>
<span class="text-white">By signing up, I accept the <b><a href="#">Terms of Service</a></b> and agree to the <b><a href="#">Privacy Policy</a></b></span>
