<h1>What is your chess skill level?</h1>
<h3>A starting point for match pairings</h3>
<app-skill-level-button [Title]="'New to Chess'" [Subtitle]="'Most Common'" [IconClassValue]="'fa-chess'"></app-skill-level-button>
<app-skill-level-button [Title]="'Beginner'" [IconClassValue]="'fa-chess'"></app-skill-level-button>
<app-skill-level-button [Title]="'Intermediate'" [IconClassValue]="'fa-chess'"></app-skill-level-button>
<app-skill-level-button [Title]="'Advanced'" [IconClassValue]="'fa-chess'"></app-skill-level-button>
