<div ngbNav #nav="ngbNav" class="navbar navbar-fluid d-lg-none">
	<div class="container container-fluid justify-content-between">
        <div>
            <button ngbNavItem="" [destroyOnHide]="true" class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a ngbNavItem="" [destroyOnHide]="true" href="#" class="navbar-brand">Chess.com</a>
        </div>
        <div>
            <button ngbNavItem="" [destroyOnHide]="true" class="mx-1 btn btn-primary">
                Sign Up
            </button>
            <button ngbNavItem="" [destroyOnHide]="true" class="mx-1  btn btn-secondary">
                Log In
            </button>
        </div>
    </div>
</div>