<div ngbNav #nav="ngbNav" class="navbar navbar-fluid d-lg-none bg-dark">
	<div class="container-fluid justify-content-between">
        <div>
            <button ngbNavItem="" [destroyOnHide]="true" class="navbar-toggler border-0 text-light" type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
            <a ngbNavItem="" [destroyOnHide]="true" href="#" class="navbar-brand ms-2 text-light">Chess.com</a>
        </div>
        <div>
            <button ngbNavItem="" [destroyOnHide]="true" class="mx-1 btn btn-primary btn-sm" (click)="OnClickSignup()">
                Sign Up
            </button>
            <button ngbNavItem="" [destroyOnHide]="true" class="mx-1  btn btn-secondary btn-sm">
                Log In
            </button>
        </div>
    </div>
</div>