<div class="h-100 container-sm d-flex flex-column align-items-center">
    <div [ngSwitch]="(displayMode|async)">
        <app-registration-skill-level *ngSwitchCase="0"></app-registration-skill-level>
        <app-registration-email-password *ngSwitchCase="1"></app-registration-email-password>
        <app-registration-theme *ngSwitchCase="2"></app-registration-theme>
        <app-registration-username *ngSwitchCase="3"></app-registration-username>
    </div>
    <button type="button" class="btn btn-primary mt-5 py-3 text-white" (click)="OnSubmit()">Continue</button>
</div>